* {
  font-family: cursive;
}
.down-btn {
  background-color: #3edbff;
  color: rgb(0, 0, 0);
  border: 0.5px, solid;
  position: fixed;
  bottom: -30px;
  right: 0px;
  font-size: large;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 15px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  z-index: 10;
  box-shadow: 0px 0px 20px 0px #60f76c;
}

.down-btn:hover {
  background-color: #60f76c;
  color: rgb(255, 255, 255);
  bottom: -20px;
  transition: 300ms;
  box-shadow: inset 0px 20px 20px 0px #77def5;
}

ul.mainmenu {
  box-shadow: 2px 1px 10px #f76bc2;
  position: fixed;
  padding: 0%;
  background: #000000;
  min-width: 250px;
  height: 200vh;
  text-decoration: none;
  transform: translateX(-250px);
  transition: 500ms;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 10;
}

ul.mainmenu.peak {
  transform: translateX(-220px);
}

ul.mainmenu.active {
  transform: none;
}

/* ul.mainmenu.half-active {
          transform: translateX(-20px);
      } */

.ux {
  position: relative;
  display: block;
  padding: 25px 15px;
  color: #008000;
  left: 10px;
}

ul.mainmenu li a {
  margin-bottom: 15px;
  display: block;
  text-decoration: none;
  padding: 15px;
  border-bottom: 3px solid #f76bc2;
  color: #77def5;
  top: 2px;
  display: flex;
}

ul.mainmenu li a:hover {
  color: #60f76c;
}

.Main-btn {
  all: unset;
  position: fixed;
  right: -45px;
  background-color: #77def5;
  text-align: justify;
  font-weight: bolder;
  cursor: pointer;
  font-size: 27px;
  padding: 8px;
  border: 1px, solid;
  z-index: 10;
  width: 54px;
  border-radius: 10px;
  box-shadow: 2px 1px 10px #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Main-btn:hover {
  background-color: #60f76c;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
  border: 0px;
  padding: 7px;
  transition: 400ms;
  box-shadow: -2px 1px 10px 2px #68adea;
  width: 30px;
  right: -5px;
}

.vs {
  all: unset;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 7px 30px;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background: linear-gradient(45deg, #3dd8fb, #f16ec3);
  right: 60px;
  font-size: medium;
  top: 500px;
}

.vs:hover {
  all: unset;
  display: flex;
  position: absolute;
  right: 58px;
  align-items: center;
  justify-content: center;
  border: 1px solid #60f76c;
  padding: 7px 30px;
  border-radius: 50px;
  color: green;
  cursor: pointer;
  background: linear-gradient(45deg, #3dd8fb, #f16ec3);
  color: rgb(0, 0, 0);
  top: 500px;
  transition: 300ms;
}
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;

  grid-row-gap: 0px;
}

.usr {
  position: absolute;
  left: 137px;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #3dd8fb, #f16ec3);
  color: #000000;
  top: 135px;
  border-radius: 5px;
  font-size: small;
}

.inf {
  position: relative;
  top: 45px;
  text-decoration: none;
  left: 66px;
  color: #77def5;
}

.inf:hover {
  color: #ff0000;
}

.ln {
  position: relative;
  top: 22px;
}

.u1 {
  display: flex;
}

.pic {
  position: relative;
  left: 85px;
  width: 105px;
  height: 100px;
  cursor: pointer;
  top: 30px;
  border-radius: 100%;
  display: flex;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ddd;
  text-align: center;
  min-width: 400px;
  border-radius: 30px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
  backdrop-filter: blur(10px);
  z-index: 999;
}

.box :hover {
  box-shadow: 0 0 20px #f46cc2;
  transition: 1s;
}

.show {
  visibility: visible;
  opacity: 1;
}

.box .header {
  background: #27a6c3;
  color: #ffffff;
  padding: 10px;
}

.box .body {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-bottom: 3px solid #ccc;
}

.box .footer {
  padding: 5px;
}

.box .footer button {
  all: unset;
  min-width: 100px;
  padding: 5px;
  border: 2px solid #3edbff;
  border-radius: 20px;
  cursor: pointer;
  margin: 0px 10px;
}

.box .footer button:hover {
  background: #f46cc2;
  color: #3d3d3d;
  transition: 1500ms;
  border-radius: 0px;
}

.lnk {
  text-decoration: none;
  color: #000000;
}

#demo {
  position: absolute;
  left: 25px;
  padding: 10px;
  font-size: 20px;
  border: 0;
  outline: 0;
  border-radius: 5px;
}

#demo input,
button,
textarea {
  font-family: "cairo";
  text-align: center;
}

.chat {
  all: unset;
  font-size: 20px;
  cursor: pointer;
  border-radius: 182px;
  position: relative;
  width: 25%;
  bottom: 20px;
}

.customer {
  position: relative;
  bottom: 20px;
}

.form-chat {
  position: relative;
  bottom: 40px;
  background-color: #ccc;
  border-radius: 15px;
  max-width: 212px;
  height: 265px;
  display: none;
}

#t-area {
  position: relative;
  left: 1px;
  padding: 5px;
  max-width: 190px;
  max-height: 135px;
  min-width: 190px;
  top: 20px;
  border-radius: 15px;
  border: 2px solid #4fcef6;
}

.username-chat {
  position: relative;
  left: 1px;
  width: 95%;
  top: 8px;
  border-radius: 7px;
  border: 2px solid #ec72c5;
}

.mail-chat {
  position: relative;
  left: 1px;
  width: 95%;
  top: 13px;
  border-radius: 7px;
  border: 2px solid #ec72c5;
}

.sub {
  position: relative;
  top: 14px;
  left: 50px;
}

.send {
  width: 17%;
  position: relative;
  cursor: pointer;
  padding: 3px;
  left: 30px;
  bottom: 1px;
}

span {
  position: relative;
  font-size: 20px;
}
.wishlist-link img {
  width: 20px;
  height: 20px;
  margin-right: 8px; /* مسافة بين الأيقونة والنص */
  vertical-align: middle; /* لضبط محاذاة الأيقونة مع النص */
}
.progres-container {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 10px;
  width: 100%;
  left: 0;
}

.progres-bar {
  height: 10px;
  width: 0;
  background-color: #f16ec3;
}

